@layer tailwind-base, primevue, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
  *,
  ::before,
  ::after {
    border-color: var(--sui-border-color-default);
    color: var(--sui-color-text-default);
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;

  .all-petite-caps {
    font-variant-caps: all-petite-caps;
  }
}

/* * ::-webkit-scrollbar-track {
}
--sui-scrollbar-corner-background: transparent;
    --sui-scrollbar-button-height: 0;
    --sui-scrollbar-button-width: 0;
    --sui-scrollbar-height: 16px;
    --sui-scrollbar-width: 16px;
    --sui-scrollbar-overflow: visible;
    --sui-scrollbar-backgroundColor: #f8f9fa;
    --sui-scrollbar-borderRadius: 16px;
    --sui-scrollbar-borderWidth: 0;
* ::-webkit-scrollbar-thumb {
  background-color: var(--sui-scrollbar-thumb-background-color);
  border-radius: var(--sui-scrollbar-border-radius);
} */
