* {
    --td-brand-color-1: var(--sui-color-primary-50);
    --td-brand-color-2: var(--sui-color-primary-100);
    --td-brand-color-3: var(--sui-color-primary-200);
    --td-brand-color-4: var(--sui-color-primary-300);
    --td-brand-color-5: var(--sui-color-primary-400);
    --td-brand-color-6: var(--sui-color-primary-500);
    --td-brand-color-7: var(--sui-color-primary-600);
    --td-brand-color-8: var(--sui-color-primary-700);
    --td-brand-color-9: var(--sui-color-primary-800);
    --td-brand-color-10: var(--sui-color-primary-900);
    --td-brand-color: var(--td-brand-color-7);
    --td-brand-color-hover: var(--td-brand-color-6);
    --td-brand-color-focus: var(--td-brand-color-2);
    --td-brand-color-active: var(--td-brand-color-8);
    --td-brand-color-disabled: var(--td-brand-color-3);
    --td-brand-color-light: var(--td-brand-color-1);
    --td-brand-color-light-hover: var(--td-brand-color-2);

    --td-text-color-brand: var(--td-brand-color-7);
    --td-text-color-link: var(--td-brand-color-8);

    --td-warning-color-1:  var(--sui-color-warning-50);
    --td-warning-color-2:  var(--sui-color-warning-100);
    --td-warning-color-3:  var(--sui-color-warning-200);
    --td-warning-color-4:  var(--sui-color-warning-300);
    --td-warning-color-5:  var(--sui-color-warning-400);
    --td-warning-color-6:  var(--sui-color-warning-500);
    --td-warning-color-7:  var(--sui-color-warning-600);
    --td-warning-color-8:  var(--sui-color-warning-700);
    --td-warning-color-9:  var(--sui-color-warning-800);
    --td-warning-color-10: var(--sui-color-warning-900);
    --td-warning-color: var(--td-warning-color-5);
    --td-warning-color-hover: var(--td-warning-color-4);
    --td-warning-color-focus: var(--td-warning-color-2);
    --td-warning-color-active: var(--td-warning-color-6);
    --td-warning-color-disabled: var(--td-warning-color-3);
    --td-warning-color-light: var(--td-warning-color-1);
    --td-warning-color-light-hover: var(--td-warning-color-2);
    
    --td-error-color-1:  var(--sui-color-error-50);
    --td-error-color-2:  var(--sui-color-error-100);
    --td-error-color-3:  var(--sui-color-error-200);
    --td-error-color-4:  var(--sui-color-error-300);
    --td-error-color-5:  var(--sui-color-error-400);
    --td-error-color-6:  var(--sui-color-error-500);
    --td-error-color-7:  var(--sui-color-error-600);
    --td-error-color-8:  var(--sui-color-error-700);
    --td-error-color-9:  var(--sui-color-error-800);
    --td-error-color-10: var(--sui-color-error-900);
    --td-error-color: var(--td-error-color-6);
    --td-error-color-hover: var(--td-error-color-5);
    --td-error-color-focus: var(--td-error-color-2);
    --td-error-color-active: var(--td-error-color-7);
    --td-error-color-disabled: var(--td-error-color-3);
    --td-error-color-light: var(--td-error-color-1);
    --td-error-color-light-hover: var(--td-error-color-2);
   
    --td-success-color-1:  var(--sui-color-success-50);
    --td-success-color-2:  var(--sui-color-success-100);
    --td-success-color-3:  var(--sui-color-success-200);
    --td-success-color-4:  var(--sui-color-success-300);
    --td-success-color-5:  var(--sui-color-success-400);
    --td-success-color-6:  var(--sui-color-success-500);
    --td-success-color-7:  var(--sui-color-success-600);
    --td-success-color-8:  var(--sui-color-success-700);
    --td-success-color-9:  var(--sui-color-success-800);
    --td-success-color-10: var(--sui-color-success-900);
    --td-success-color: var(--td-success-color-5);
    --td-success-color-hover: var(--td-success-color-4);
    --td-success-color-focus: var(--td-success-color-2);
    --td-success-color-active: var(--td-success-color-6);
    --td-success-color-disabled: var(--td-success-color-3);
    --td-success-color-light: var(--td-success-color-1);
    --td-success-color-light-hover: var(--td-success-color-2);
}
